.footer {
    background-color:var(--red-normal);
}

.footer-inner {

}

.footer-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    color:var(--white-normal);
    padding: 22px 0;
    text-align: center;
}

.footer-text--bold {
    font-weight: 500;
}





