@import "reset.css";
@import "navbar.css";
@import "fonts.css";
@import "theme.css";
@import "footer.css";

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.navbar-wrapper,.footer {
    flex-shrink: 0;
}

.content {
    flex-grow: 1;
}

.container {
    max-width: 1125px;
    margin: 0 auto;
}

.text-decoration {
    color:var(--red-normal);
}