.navbar-wrapper {
    background: #FFFFFF;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
    position: sticky;
    top: 0;
    z-index: 20;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 0;

}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-logo {

}

.navbar-center {
    display: flex;
    align-items: center;
}

.navbar-menu {
    display: flex;
    align-items: center;
}

.navbar-menu__item {
    font-weight: 400;
    font-size: 18px;
    color: var(--gray-normal);
}

.navbar-menu__item:not(:last-child) {
    margin-right: 50px;
}

.navbar-menu__item:hover {
    color: var(--red-normal);
}

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-icons {

}

.navbar-icon__item {

}

.navbar-icon__item:not(:last-child) {
    margin-right: 24px;
}

.navbar-icon__item__img {

}
