.about-wrapper {
    background-color: #F6F6F6;
    margin-bottom: 100px;
    padding-top: 58px;
    padding-bottom: 64px;
}

.about-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}

.about-block {

}

.about-block.image {

}

.about__img {

}

.about__heading {
    color:var(--gray-normal);
    font-weight: 500;
    font-size: 32px;
    line-height: 133.69%;
    margin-bottom: 24px;
}

.about__text {
    color:var(--gray-light);
    font-size: 18px;
    line-height: 150%;

}

.about__text:not(:last-child) {
    padding-bottom: 24px;
}
