.contacts-wrapper {
    margin-bottom: 24px;
}

.contacts {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 46px;
    align-items: end;
}

.contacts-block {

}

.contacts-left {

}

.contacts-left__img {
    margin-bottom: 10px;
}

.contacts-left__text {

}

.contacts-left__tittle {
    color:var(--gray-dark);
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 8px;
}

.contacts-left__text {
    color:var(--gray-dark);
    font-weight: 300;
    font-size: 18px;
    line-height: 149.19%;
}

.contacts-left__text__Ruko {

}

.contacts-left__text__Alarm-sutera {

}

.contacts-right {

}

.contacts-right__tittle {
    color:var(--gray-dark);
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 16px;
}

.contacts-right__text {
    color:var(--gray-dark);
    font-weight: 300;
    font-size: 18px;
    line-height: 149.19%;
}
