.hero-wrapper {
    margin-top: 50px;
    margin-bottom: 100px;
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    padding: 62px 0;
}

.hero-block {

}

.hero__tittle {
    font-weight: 700;
    font-size: 48px;
    line-height: 133.69%;
    color:var(--gray-normal)
}

.hero__text {
    font-size: 20px;
    line-height: 29px;
    color:var(--gray-light);
    margin-top: 24px;
}

.hero__button {
    display: inline-block;
    margin-top: 24px;
    font-size: 20px;
    line-height: 29px;
    color:var(--white-normal);
    background-color:var(--red-normal);
    border-radius: 4px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
    padding: 12px 32px;
}

.hero-image {

}

.hero-image__img {

}




