.products-wrapper {
    margin-bottom: 84px;
}

.products {
    padding: 0 34px;
}

.products__heading {
    color:var(--gray-normal);
    font-weight: 500;
    font-size: 32px;
    line-height: 133.69%;
    text-align: center;
    margin-bottom: 16px;
}

.products-features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 50px;
}

.products-features-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.products-features-item__img {
    margin-bottom: 16px;
}

.products-features-item__heading {
    font-weight: 500;
    font-size: 28px;
    line-height: 133.69%;
    margin-bottom: 14px;
}

.products-features-item__text {
    color:var(--gray-light);
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 14px;
}

.products-features-item__button {
    background-color:var(--red-normal);
    color:var(--white-normal);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    padding: 8px 16px;
    margin-top: auto;
}
